<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Martin Pospíšil">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="prefetch" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/queries.css">
    <title>MealCounter</title>
</head>
<body>
    <header class="header--logged-in">
        <a class="logo" href="/index.php">
            <img class="logo__image" src="/images/logo.png" alt="Logo">
            <h1 class="logo__title" aria-label="title">MealCounter</h1>
        </a>
        <nav class="nav" role="navigation">
            <menu class="nav__main-menu" aria-label="Hlavní menu">
                <li class="nav__main-menu-item"><a class="global-button global-button--menu" href="/views/my-meal-plan.html">Můj jídelníček</a></li>
                <li class="nav__main-menu-item"><a class="global-button global-button--menu" href="/views/my-meals.html">Moje jídla</a></li>
                <li class="nav__main-menu-item"><a class="global-button global-button--menu" href="/views/my-ingredients.html">Moje Ingredience</a></li>
                <li class="nav__main-menu-item"><a class="global-button global-button--menu" href="/views/meal-counter.html">Počítadlo jídel</a></li>
            </menu>
            <menu class="nav__account-menu" aria-label="Menu účtu">
                <li class="nav__account-menu-item"><a class="global-button global-button--menu" href="/views/my-account.html">Můj účet</a></li>
                <li class="nav__account-menu-item"><a class="global-button global-button--menu" href="/views/login.html">Odhlásit</a></li>
            </menu>
        </nav>
        <menu class="switches" aria-label="Menu módu a jazyka">
            <label class="global-switch" for="mode" aria-label="Přepnout denní / noční mód">
                <input class="global-switch__input" id="mode" name="mode" type="checkbox">
                <div class="global-switch__slider"></div>
            </label>
            <label class="global-switch" for="lang" aria-label="Přepnout český / anglický jazyk">
                <input class="global-switch__input" id="lang" name="lang" type="checkbox">
                <div class="global-switch__slider"></div>
            </label>
        </menu>
    </header>
    <main class="main main--general">
        <section class="my-ingredients">
            <h1 class="my-ingredients__header">Moje ingredience</h1>
            <div class="my-ingredients__content">
                <div class="ingredient-header">
                    <div class="ingredient-header__row ingredient-header__column--one">
                        <span class="ingredient-header__info ingredient-header__name">Ingredience</span>
                        <span class="ingredient-header__info ingredient-header__weight">Hmotnost</span>
                        <span class="ingredient-header__info ingredient-header__energy">Energie</span>
                    </div>
                    <div class="ingredient-header__row ingredient-header__column--two">
                        <span class="ingredient-header__info ingredient-header__macros">Bílkoviny</span>
                        <span class="ingredient-header__info ingredient-header__macros">Sacharidy</span>
                        <span class="ingredient-header__info ingredient-header__macros">Tuky</span>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Banán</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">98</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">1</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">23</span>
                        <span class="ingredient-item__macros ingredient-item__fat">0</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Borůvky</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">64</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">1</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">15</span>
                        <span class="ingredient-item__macros ingredient-item__fat">0</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Datle</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">282</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">2</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">68</span>
                        <span class="ingredient-item__macros ingredient-item__fat">0</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Kokosové chipsy</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">703</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">7</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">24</span>
                        <span class="ingredient-item__macros ingredient-item__fat">65</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Ořechy vlašské</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">702</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">15</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">14</span>
                        <span class="ingredient-item__macros ingredient-item__fat">65</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Ovesné vločky</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">314</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">15</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">52</span>
                        <span class="ingredient-item__macros ingredient-item__fat">5</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Protein</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">412</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">82</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">4</span>
                        <span class="ingredient-item__macros ingredient-item__fat">8</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-item">
                    <div class="ingredient-item__row ingredient-item__column--one">
                        <span class="ingredient-item__info ingredient-item__name">Rozinky</span>
                        <span class="ingredient-item__info ingredient-item__weight">100</span>
                        <span class="ingredient-item__info ingredient-item__energy">321</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--two">
                        <span class="ingredient-item__macros ingredient-item__protein">3</span>
                        <span class="ingredient-item__macros ingredient-item__carbs">76</span>
                        <span class="ingredient-item__macros ingredient-item__fat">5</span>
                    </div>
                    <div class="ingredient-item__row ingredient-item__column--three">
                        <button class="global-button global-button--secondary">Zobrazit</button>
                        <button class="global-button global-button--tertiary">Odstranit</button>
                    </div>
                </div>
                <div class="ingredient-button">
                    <button class="global-button global-button--primary">Nová ingredience</button>
                </div>
            </div>
        </section>    
    </main>
    <footer class="footer--general">
        <div class="social">
            <h2 class="social__header">Sociální sítě</h2>
            <div class="social__content">
                <a class="social__link" href="https://www.facebook.com"><img class="global-image" src="/images/logo-facebook.svg" alt="Logo Facebooku"></a>
                <a class="social__link" href="https://www.twitter.com"><img class="global-image" src="/images/logo-twitter.svg" alt="Logo Twitteru"></a>
                <a class="social__link" href="https://www.instagram.com"><img class="global-image" src="/images/logo-instagram.svg" alt="Logo Instagramu"></a>
                <a class="social__link" href="https://www.pinterest.com"><img class="global-image" src="/images/logo-pinterest.svg" alt="Logo Pinterestu"></a>
                <a class="social__link" href="https://www.youtube.com"><img class="global-image" src="/images/logo-youtube.svg" alt="Logo YouTube"></a>
            </div>
        </div>
        <div class="about">
            <h2 class="about__header">Informace</h2>
            <div class="about__content">
                <a href="/views/gdpr.html" class="about__link">Ochrana osobních údajů</a>
                <a href="/views/about-author.html" class="about__link">© 2024 Martin Pospíšil</a>
            </div>
        </div>
        <div class="subscribe">
            <h2 class="subscribe__header">Odběr novinek</h2>
            <form class="subscribe__content" action="">
                <input class="subscribe__input" id="subscribe" name="subscribe" type="email" placeholder="Email" aria-label="Vyplntě emailovou adresu pro odběr novinek">
                <button class="global-button global-button--secondary" type="submit">Odebírat</button>
            </form>
        </div>
    </footer>
</body>
</html>