* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
width: 100%;
margin: auto;
padding: 50px;
background: black;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:link,
a:visited {
	display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 50px;
    padding: 10px;
	border: solid 3px darkslategray;
    border-radius: 50%;
    box-shadow: inset 2px 2px 3px white, inset -1px -1px 3px black,
    			0px 0px 5px 8px black;
    background: red;
    font-family: Arial;
    font-weight: 700;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: lightgrey;
    cursor: pointer;
    transition: 0.15s all;
    outline: outset 8px silver;
}

a::before {
	content: "";
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    border: 6px ridge gray;
    pointer-events: none;
}

a::after {
	content: "";
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;   
    background: repeating-linear-gradient(45deg, black, black 17.75px, gold 17.75px, gold 35.5px);
    mask-image: url(/images/scratch.svg), linear-gradient(#ffffff 0 0);
    mask-repeat: no-repeat;
    mask-composite: exclude;
    mask-size: cover;
    pointer-events: none;
    z-index: -1;
}

a:hover,
a:active {
    box-shadow: 
        inset 2px 2px 3px white, inset -1px -1px 3px black,
    	inset 5px 5px 25px red, inset -5px -5px 25px red,
    	0px 0px 5px 8px black;
    border: solid 3px yellow;
    background: orange;
    color: white;
    transition: 0.15s all;
    outline: outset 8px lightgray;

}